
@model ExchangeApp.Models.NomEnglishLevel

<form class="clearfix" id="addEditForm">
    <section class="js-information form-fields no-padding clearfix">
        <div class="form-group">
            @Html.HiddenFor(model => model.ID)
            <div class="col-lg-12 col-md-10 mt-10">
                <label class="fl">
                    English Level
                    <sup>*</sup>
                </label>
                <div>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Enter english level" } })
                </div>
            </div>
        </div>
    </section>
    <hr class="hr-modal" />
    <div>
        <div class="col-lg-6 col-md-10 mt-5">
            <ul class="err-msg" id="errors"></ul>
        </div>
        <div class="col-lg-6 col-md-10 mt-5">
            <div class="pl-31">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnSubmit" class="btn btn-success">Save</button>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function (e) {

            clearErrors();
            var formData = $("#addEditForm").serialize();
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/NomEnglishLevels/CreateUpdateEnglishLevel",
                data: formData,
                success: function (data) {
                    if (data == true) {
                        $("#editModal").modal("hide");
                        window.location.href = "/NomEnglishLevels/Index"
                    }
                    else {
                        parseErrors(data);
                    }
                },
                error: function (xhr, status, error) {
                    parseErrors(xhr.responseText);
                },
            });

        })

        function parseErrors(errors) {
            for (var i = 0; i < errors.length; i++) {
                var el = document.getElementById('errors');
                var node = document.createElement("li");
                node.innerHTML = errors[i];
                el.appendChild(node);
            }
        }

        function clearErrors() {
            $('#errors li').remove();
        }
    })

</script>

