@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div id="itoolbar" class="col-md-12 col-sm-12 text-right">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Admin", routeValues: null, htmlAttributes: new { @style = "color:#FA803B !important; " })
            |    <a href="javascript:document.getElementById('logoutForm').submit()" class="cr-readmore-2">Log off</a>
        </div>

    }
}

