@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-right">
        <span style="color:white;">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Admin", routeValues: null, htmlAttributes: new { @style = "color:white!important; " })
                </span>
        <span>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="cr-readmore-2">Log off</a>
        </span>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
